In [2]:
from WebScrapping import dow
import yfinance as yf 
company_ticker = dow.dow_tickers()
company_ticker_list = list(company_ticker.keys())
print(company_ticker_list)
data = yf.download(company_ticker_list, start="2020-12-12")['Open']
data

['AAPL', 'CSCO', 'IBM', 'MSFT', 'CRM']
[*********************100%***********************]  5 of 5 completed

                  AAPL         CRM       CSCO         IBM        MSFT
Date
2020-12-11  122.430000  221.919998  43.939999  118.623329  210.050003
2020-12-14  122.599998  223.089996  44.270000  119.808792  213.100006
2020-12-15  124.339996  222.070007  44.389999  118.919693  215.169998
2020-12-16  127.410004  221.479996  44.700001  120.391968  214.750000
2020-12-17  128.899994  224.899994  44.910000  120.535370  219.869995
...                ...         ...        ...         ...         ...
2021-12-02  158.740005  252.820007  55.150002  117.370003  330.299988
2021-12-03  164.020004  261.549988  56.299999  117.360001  331.989990
2021-12-06  164.289993  256.100006  56.700001  119.400002  323.950012
2021-12-07  169.080002  265.470001  57.099998  120.480003  331.640015
2021-12-08  172.130005  268.309998  58.080002  122.000000  335.309998

[250 rows x 5 columns]

In [40]:
import pandas as pd
import numpy as np

Get_data=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
first_table = Get_data[0]
df =first_table 
df1 = df[['GICS Sector','Symbol']]
df2 = df1.groupby('Symbol').apply(lambda x: list(np.unique(x)))
df2 = df2.apply(pd.Series)
df2 = df2.T
df2

Symbol,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
0,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,Utilities,Information Technology,Energy,Health Care,Industrials,Consumer Discretionary,Health Care,Information Technology,Financials,Health Care
1,Health Care,Industrials,Consumer Discretionary,Information Technology,Health Care,Health Care,Health Care,Health Care,Information Technology,Information Technology,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS

In [41]:
import pandas as pd
import numpy as np

Get_data=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
first_table = Get_data[0]
df =first_table 
df1 = df[['GICS Sector','Symbol']]
df2 = df1.groupby('GICS Sector').apply(lambda x: list(np.unique(x)))
df2 = df2.apply(pd.Series)

df3= df2.T
arr = list(df3.columns)
df3.reset_index(drop=True, inplace=True)
df3

GICS Sector,Communication Services,Consumer Discretionary,Consumer Staples,Energy,Financials,Health Care,Industrials,Information Technology,Materials,Real Estate,Utilities
0,ATVI,AAP,ADM,APA,AFL,A,AAL,AAPL,ALB,AMT,AEE
1,CHTR,AMZN,BF.B,BKR,AIG,ABBV,ALK,ACN,AMCR,ARE,AEP
2,CMCSA,APTV,CAG,COP,AIZ,ABC,ALLE,ADBE,APD,AVB,AES
3,Communication Services,AZO,CHD,CTRA,AJG,ABMD,AME,ADI,AVY,BXP,ATO
4,DIS,BBWI,CL,CVX,ALL,ABT,AOS,ADP,BLL,CBRE,AWK
...,...,...,...,...,...,...,...,...,...,...,...
70,NaN,NaN,NaN,NaN,NaN,NaN,URI,VRSN,NaN,NaN,NaN
71,NaN,NaN,NaN,NaN,NaN,NaN,VRSK,WDC,NaN,NaN,NaN
72,NaN,NaN,NaN,NaN,NaN,NaN,WAB,WU,NaN,NaN,NaN
73,NaN,NaN,NaN,NaN,NaN,NaN,WM,XLNX,NaN,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,XYL,ZBRA,NaN,NaN,NaN

In [26]:
arr = list(df3.columns)

['Communication Services',
 'Consumer Discretionary',
 'Consumer Staples',
 'Energy',
 'Financials',
 'Health Care',
 'Industrials',
 'Information Technology',
 'Materials',
 'Real Estate',
 'Utilities']

In [35]:
df3.to_csv("new_list_ofSector_wise_ticker_list_SP500.csv")

str

KeyError: 'Energy'